body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 320px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input {
    width: 70%;
    padding: 6px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

li {
    margin: 8px 0;
}

li span {
    cursor: pointer;
}

li span.completed {
    text-decoration: line-through;
    color: gray;
}

li button {
    margin-left: 10px;
}
